In [6]:
import pandas as pd

In [7]:
# Create three new data frames to store the data 

ad = pd.read_csv('actual_duration.csv')
ar = pd.read_csv('appointments_regional.csv') 
nc = pd.read_excel('national_categories.xlsx')

In [14]:
# Sense check new data to determine column names

print(ad.columns)
print(ar.columns)
print(nc.columns)

Index(['sub_icb_location_code', 'sub_icb_location_ons_code',
       'sub_icb_location_name', 'icb_ons_code', 'region_ons_code',
       'appointment_date', 'actual_duration', 'count_of_appointments'],
      dtype='object')
Index(['icb_ons_code', 'appointment_month', 'appointment_status', 'hcp_type',
       'appointment_mode', 'time_between_book_and_appointment',
       'count_of_appointments'],
      dtype='object')
Index(['appointment_date', 'icb_ons_code', 'sub_icb_location_name',
       'service_setting', 'context_type', 'national_category',
       'count_of_appointments', 'appointment_month'],
      dtype='object')

In [15]:
# Determine the shape of the data 

print(ad.shape)
print(ar.shape)
print(nc.shape)

(137793, 8)
(596821, 7)
(817394, 8)

In [17]:
# Determine the data types

ad.dtypes

sub_icb_location_code        object
sub_icb_location_ons_code    object
sub_icb_location_name        object
icb_ons_code                 object
region_ons_code              object
appointment_date             object
actual_duration              object
count_of_appointments         int64
dtype: object

In [18]:
# Determine the data types

ar.dtypes

icb_ons_code                         object
appointment_month                    object
appointment_status                   object
hcp_type                             object
appointment_mode                     object
time_between_book_and_appointment    object
count_of_appointments                 int64
dtype: object

In [19]:
# Determine the data types

nc.dtypes

appointment_date         datetime64[ns]
icb_ons_code                     object
sub_icb_location_name            object
service_setting                  object
context_type                     object
national_category                object
count_of_appointments             int64
appointment_month                object
dtype: object

In [23]:
# Check for Null values


ad_na = ad[ad.isna().any(axis=1)]

ad_na

Empty DataFrame
Columns: [sub_icb_location_code, sub_icb_location_ons_code, sub_icb_location_name, icb_ons_code, region_ons_code, appointment_date, actual_duration, count_of_appointments]
Index: []

In [24]:
# Check for Null values

ar_na = ar[ar.isna().any(axis=1)]

ar_na

Empty DataFrame
Columns: [icb_ons_code, appointment_month, appointment_status, hcp_type, appointment_mode, time_between_book_and_appointment, count_of_appointments]
Index: []

In [25]:
# Check for Null values

nc_na = nc[nc.isna().any(axis=1)]

nc_na

Empty DataFrame
Columns: [appointment_date, icb_ons_code, sub_icb_location_name, service_setting, context_type, national_category, count_of_appointments, appointment_month]
Index: []

In [28]:
# Determining desriptive statistics of appointments 

ad.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [29]:
# Determining desriptive statistics of appointments 

ar.describe()

       count_of_appointments
count          596821.000000
mean             1244.601857
std              5856.887042
min                 1.000000
25%                 7.000000
50%                47.000000
75%               308.000000
max            211265.000000

In [30]:
# Determining desriptive statistics of appointments 

nc.describe()

       count_of_appointments
count          817394.000000
mean              362.183684
std              1084.576600
min                 1.000000
25%                 7.000000
50%                25.000000
75%               128.000000
max             16590.000000

In [68]:
# Why is the mean so much higher here?

highest_50 = ar['count_of_appointments'].nlargest(50)
highest_50.sort_values()

145110    148035
112356    148633
110260    149303
111626    149327
150866    149360
460893    149623
148940    150452
148233    151158
414661    152194
414136    153250
149882    154271
102054    154285
112104    154319
413616    154592
151589    154641
111404    157453
410072    157581
113565    157964
410775    158957
151333    159620
146425    159642
411821    161185
412347    161375
147323    161377
147769    161491
460119    162248
148706    163217
409837    164148
413360    164644
150850    166916
145660    166953
147548    169271
147097    170000
411555    171413
412080    171601
146869    172892
411289    173827
409281    176121
147999    177033
412598    177238
146647    178769
410534    182856
145404    183931
411019    184462
146165    185210
144828    185930
410298    186344
145905    191019
409005    203378
144544    211265
Name: count_of_appointments, dtype: int64

In [33]:
# Determining the metadata information in data set

ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137793 entries, 0 to 137792
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   sub_icb_location_code      137793 non-null  object
 1   sub_icb_location_ons_code  137793 non-null  object
 2   sub_icb_location_name      137793 non-null  object
 3   icb_ons_code               137793 non-null  object
 4   region_ons_code            137793 non-null  object
 5   appointment_date           137793 non-null  object
 6   actual_duration            137793 non-null  object
 7   count_of_appointments      137793 non-null  int64
dtypes: int64(1), object(7)
memory usage: 8.4+ MB

In [34]:
# Determining the metadata information in data set

ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596821 entries, 0 to 596820
Data columns (total 7 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   icb_ons_code                       596821 non-null  object
 1   appointment_month                  596821 non-null  object
 2   appointment_status                 596821 non-null  object
 3   hcp_type                           596821 non-null  object
 4   appointment_mode                   596821 non-null  object
 5   time_between_book_and_appointment  596821 non-null  object
 6   count_of_appointments              596821 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.9+ MB

In [35]:
# Determining the metadata information in data set

nc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817394 entries, 0 to 817393
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   appointment_date       817394 non-null  datetime64[ns]
 1   icb_ons_code           817394 non-null  object
 2   sub_icb_location_name  817394 non-null  object
 3   service_setting        817394 non-null  object
 4   context_type           817394 non-null  object
 5   national_category      817394 non-null  object
 6   count_of_appointments  817394 non-null  int64
 7   appointment_month      817394 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 49.9+ MB

In [45]:
# Determining the number of different locations 

locations = ad['sub_icb_location_name'].value_counts() 

print(locations)

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
                                                        ...
NHS Staffordshire and Stoke-on-Trent ICB - 05D          1051
NHS South Yorkshire ICB - 03L                           1028
NHS North East and North Cumbria ICB - 00P              1025
NHS South Yorkshire ICB - 02P                           1022
NHS Cheshire and Merseyside ICB - 01F                   1013
Name: sub_icb_location_name, Length: 106, dtype: int64

In [47]:
# Determining the top 5 locations 

ad['sub_icb_location_name'].mode()

0    NHS Bedfordshire Luton and Milton Keynes ICB -...
1                     NHS Greater Manchester ICB - 14L
2                        NHS Kent and Medway ICB - 91Q
3                    NHS Norfolk and Waveney ICB - 26A
4                    NHS North East London ICB - A3A8R
5                    NHS North West London ICB - W2U3Z
Name: sub_icb_location_name, dtype: object

In [11]:
# Another way to determine the top 5 locations (value_counts() sorts in descending order)

top_5 = ad['sub_icb_location_name'].value_counts()[:5]

print(top_5)

NHS Norfolk and Waveney ICB - 26A                       1484
NHS Kent and Medway ICB - 91Q                           1484
NHS North West London ICB - W2U3Z                       1484
NHS Bedfordshire Luton and Milton Keynes ICB - M1J4Y    1484
NHS Greater Manchester ICB - 14L                        1484
Name: sub_icb_location_name, dtype: int64

In [48]:
# Determining how many service settings appear in the data set

service_setting_number = nc['service_setting'].value_counts() 

print(service_setting_number)

General Practice             359274
Primary Care Network         183790
Other                        138789
Extended Access Provision    108122
Unmapped                      27419
Name: service_setting, dtype: int64

In [49]:
# Determining how often a certain context type appears in the data set

context_type_number = nc['context_type'].value_counts() 

print(context_type_number)

Care Related Encounter    700481
Inconsistent Mapping       89494
Unmapped                   27419
Name: context_type, dtype: int64

In [51]:
# Determining how often a national category appears in the data set

national_category_number = nc['national_category'].value_counts() 

print(national_category_number)

Inconsistent Mapping                                                   89494
General Consultation Routine                                           89329
General Consultation Acute                                             84874
Planned Clinics                                                        76429
Clinical Triage                                                        74539
Planned Clinical Procedure                                             59631
Structured Medication Review                                           44467
Service provided by organisation external to the practice              43095
Home Visit                                                             41850
Unplanned Clinical Activity                                            40415
Patient contact during Care Home Round                                 28795
Unmapped                                                               27419
Care Home Visit                                                        26644
Social Prescribing Service                                             26492
Care Home Needs Assessment & Personalised Care and Support Planning    23505
Non-contractual chargeable work                                        20896
Walk-in                                                                14179
Group Consultation and Group Education                                  5341
Name: national_category, dtype: int64

In [52]:
# Determining how often an appoitnment status appears in the data set

appoitment_status_number = ar['appointment_status'].value_counts() 

print(appoitment_status_number)

Attended    232137
Unknown     201324
DNA         163360
Name: appointment_status, dtype: int64

In [ ]:
# Extra! Now lets look at the number of appoints per location